
<div id="navbar"><a href="/register">Register  </a>|<a href="/login">  Log In  </a>|<a href="/profile/edit">  Edit Profile  </a>|<a href="/sign">  Sign the Petition  </a>|<a href="/thankyou">  Thank you  </a>|<a href="/signatories">  Signatories  </a> | <a href="/logout">  Log Out  </a> </div>
