<div id="logoutcontainer" class="container">
    {{>navbar}}


    <h1 id="logoutquote">"One day I shall come back. Yes, I shall come back.<br> Until then, there must be no regrets, no tears, no anxieties. <br>Just go forward in all your beliefs and prove to me that I am not mistaken in mine."</h2> 

</div>

<footer id="logoutfoot">Photo by ** from Pexels</footer>