<div id="profile-container" class="container">
    <h1 id="h1profile">Add a little more information about yourself</h1>
    

        <div class="error_msg">{{wentWrong}}</div>

  <form action="/profile" method="POST" id="profile">

    <div id="input_profile">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <p><input type="number" name="age" placeholder="age..." ></p>
      <p><input type="text" name="city" placeholder="city..." ></p>
      <p><input type="text" name="homepage" placeholder="http..." ></p>
    </div>

    

    <button id="profNow">Save Your Profile</button>

  </form>

  <h2 id="h2profile">Prefer not to? <a id="profa" href="/sign"> Click here</a> to sign the petition without saving profile information</h2>


<h2 id="profilequote">"In 900 years of time and space, I’ve never met anyone who wasn’t important"</h2>
</div>


<footer id="profilefoot">Photo by Rakicevic Nenad from Pexels</footer>