<div id="register-container">
    <h1 id="h1register">Welcome to my petition to have Doctor Who shown on all TV channels world-wide</h1>
    <div class="error_msg">{{wentWrong}}</div>

  <form action="/register" method="POST" id="register">

    <div id="input_name">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <p><input name="first_name" placeholder="First name..." ></p>
      <p><input name="last_name" placeholder="Last name..." ></p>
    
    
    </div>

    

    <button id="submit">xxx</button>

  </form>
<h2 id="registerquote">"One day I shall come back. Yes, I shall come back. Until then, there must be no regrets, no tears, no anxieties. Just go forward in all your beliefs and prove to me that I am not mistaken in mine."</h2>
</div>


<footer id="welcomefoot">Photo by Pixabay from Pexels</footer>