<div id="signatories-container">
    <h1 id="h1signatories">Here are all the lovely people who have signed the petition:</h1>
    <div id="signatories-list">
        
            {{signatories}}
        
    </div>
    <h1 id="h1signatories">Each and every one of you is a wonderful human being!</h1>
</div>