<div id="signatories-container" class="container">
    <h1 id="h1signatories">People who signed the petition to bring the magic of Doctor Who to every broadcast channel in the world. <br>Wonderful chap. All of them.</h1>
    
    <div id="signatories-list">
            {{>sigList}}
    </div>
    <h2 id="sigquote">"I am not a student of human nature. I am a professor of a far wider academy of which human nature is merely a part."</h2>
</div>
</div>
<footer id="signatoriesfoot">Photo by Free Nature Stock from Pexels</footer>