<div id="signatories-container">
    <h1 id="h1signatories">Here are all the lovely people who have signed the petition:</h1>
    <div id="signatories-list">
        <ul>
            {{signatories}}
        </ul>
    </div>
    <h1 id="h1signatories">Each and every one of you is a wonderful human being!</h1>
</div>
<footer id="signatoriesfoot">Photo by Free Nature Stock from Pexels</footer>