<div id="signatories-container">
    <h1 id="h1signatories">People who signed the petition to bring the magic of Doctor Who to every broadcast channel in the world. <br>Wonderful chap. All of them.</h1>
    
    <div id="signatories-list">
            {{>sigList}}
    </div>
    <h2 id="sigquote">"Before I go, I just want to tell you: you were fantastic.  Absolutely fantastic.<br> And you know what? So was I."</h2>
</div>
<footer id="signatoriesfoot">Photo by Free Nature Stock from Pexels</footer>