<div id="sign-container" class="container">
    <h1 id="h1sign">Thank you for registering. Please sign the petition to bring the magic of Doctor Who to the world.</h1>
    <div class="error_msg">{{wentWrong}}</div>

  <form action="/sign" method="POST" id="sign_form">
    <div id="input_name">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">

         <p id="plssgn">Please sign below:</p>
    
        <canvas id="canvas">
        </canvas>
        <input name="signature" id="save_sig" class="hidden">
      

      <button id="signNow">Sign the Petition</button>
    </div>
  </form>

  <h2 id="signquote">"Our lives are different to anybody else's. That's the exciting thing! There's nobody in the universe can do what we're doing."</h2>
</div>

<footer id="signfoot">Photo by Pixabay from Pexels</footer>