<div id="signatories-container" class="container">
    {{>navbar}}
    <h1 id="h1signatories">People who signed the petition to bring the magic of Doctor Who to every broadcast channel in the world. <br>Wonderful chap. All of them.</h1>
    
    <div id="signatories-list">
            {{>sigList}}
    </div>
    <h2 id="sigquote">"Homo sapiens. What an inventive, invincible species. It's only a few million years since they crawled up out of the mud and learned to walk. Puny, defenceless bipeds. They've survived flood, famine and plague. They've survived cosmic wars and holocausts. And now, here they are, out among the stars, waiting to begin a new life. Ready to outsit eternity. They're indomitable."</h2>
</div>
</div>
<footer id="signatoriesfoot">Photo by Free Nature Stock from Pexels</footer>