<div id="sigcity-container" class="container">
    <h1 id="h1sigcity">People in {{city}} who signed the petition to bring the magic of Doctor Who to every broadcast channel in the world. <br>Wonderful chap. All of them.</h1>
   
    <div id="sigcity-list">
             {{>sigList}}
    </div>
    <h2 id="sigcityquote">"Before I go, I just want to tell you: you were fantastic.  Absolutely fantastic.<br> And you know what? So was I."</h2>
</div>
<footer id="sigcityfoot">Photo by Free Nature Stock from Pexels</footer>