<div id="sigcity-container" class="container">
    <h1 id="h1sigcity">People in {{city}} who signed the petition to bring the magic of Doctor Who to every broadcast channel in the world. <br>Wonderful chap. All of them.</h1>
   
    <div id="sigcity-list">
             {{>cityList}}
    </div>
    
    <h2 id="sigcityquote">"I am not a student of human nature. I am a professor of a far wider academy of which human nature is merely a part."</h2>
</div>

<footer id="sigcityfoot">Photo by Free Nature Stock from Pexels</footer>