<div id="thankyou-container">
    {{!-- add fist name to thankyou message --}}
    <h1 id="h1thankyou">Thank you {{first_name}} for signing the petition to make Doctor Who available on every broadcast channel</h1>

    {{!-- set image tag with signature url in thankyou.hb template --}}
<img src="`{{id}}`"></img>


    <a href="/signatories">
        <h2 id="h2thankyou">Click here to see the names of the {{sigTotal}} optimists, hopers of far-flung hopes, and dreamers of impossible dreams who signed this petition.</h2>
    </a>

    <h2 id="tyquote">"In 900 years of time and space, I’ve never met anyone who wasn’t important."</h2>

    <div class="error_msg">{{wentWrong}}</div>

</div>

<footer id="thankyoufoot">Photo by Tobias Bjørkli from Pexels</footer>