<div id="thankyou-container" class="container">
    <h1 id="h1thankyou">Thank you for signing the petition to make Doctor Who available on every broadcast channel</h1>

    <div class="error_msg">{{wentWrong}}</div>
    
    <img src="{{sigPic}}"></img>

    <form action="/thankyou" method="POST" id="deleteSig">
     <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div>

        <button id="delSig">Delete Signature and Try Again</button>
    </div>
    </form


    <a href="/signatories">
        <h2 id="h2thankyou"><a href="/signatories">Click here to see the names of the {{sigTotal}} optimists, hopers of far-flung hopes, and dreamers of impossible dreams who signed this petition.</a></h2>
    </a>

    <h2 id="tyquote">"I just want to tell you: you were fantastic.  Absolutely fantastic.<br> And you know what? So was I."</h2>

</div>

<footer id="thankyoufoot">Photo by Tobias Bjørkli from Pexels</footer>