<div id="welcome-container">
    <h1 id="h1welcome">Welcome to my petition to have Doctor Who shown on all terrestrial TV stations world-wide</h1>
    <div id="error_msg">{{wentWrong}}</div>

<form action="/welcome" method="POST" id="sign-form">

<div id="input_name">Name:
  <p><input name="first_name" placeholder="First name..." ></p>
  <p><input name="last_name" placeholder="Last name..." ></p>
</div>

<div id="sig-pic">
  <p>Please sign below:</p>
    <canvas id="canvas">

    </canvas>
</div>
<input id="save-sig" name="sig" class="hidden"></input>

<button id="submit">Sign the Petition</button>


</form>


</div>
<footer id="welcomefoot">Photo by Miriam Espacio from Pexels</footer>