<div id="welcome-container">
    <h1 id="h1welcome">Welcome to my petition to have Doctor Who shown on all terrestrial TV stations world-wide</h1>
    <textarea id="error-msg" class="hidden" name="error_msg">Sorry, there was a disturbance in the spacetime continuum, please reverse the polarity of the neutron flow and try again</textarea>

<form action="/welcome" method="POST" id="sign-form">

<div id="input_name">Name:
  <p><input name="first_name" placeholder="First name..." ></p>
  <p><input name="last_name" placeholder="Last name..." ></p>
</div>

<div id="sig-pic">
    <canvas id="canvas" >

    </canvas>
</div>
<input id="save-sig" name="sig" class="hidden"></input>

<button id="submit">Sign the Petition</button>


</form>


</div>