<div id="welcome-container">
    <h1 id="h1welcome">Welcome to my petition to have Doctor Who shown on all TV channels world-wide</h1>
    <div class="error_msg">{{wentWrong}}</div>

  <form action="/welcome" method="POST" id="sign-form">

    <div id="input_name">
      <p><input name="first_name" placeholder="First name..." ></p>
      <p><input name="last_name" placeholder="Last name..." ></p>
    </div>

    <div id="sig-pic">
       <p id="plssgn">Please sign below:</p>
    
      <canvas id="canvas">
      </canvas>
    </div>
    <input id="save-sig" name="signature" class="hidden"></input>

    <button id="submit">Sign the Petition</button>

  </form>
<h2 id="welcomequote">"One day I shall come back. Yes, I shall come back. Until then, there must be no regrets, no tears, no anxieties. Just go forward in all your beliefs and prove to me that I am not mistaken in mine."</h2>
</div>


<footer id="welcomefoot">Photo by Miriam Espacio from Pexels</footer>