* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
}

.container {
    min-height: 97vh;
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.navcontainer {
    background-color: rgb(2, 3, 8);
    /* background: linear-gradient(
        0.25turn,
        rgb(2, 3, 8),
        rgb(1, 58, 72),
        rgb(35, 113, 117),
        rgb(28, 15, 32),
        rgb(86, 31, 14)
    ); */
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#navbar {
    color: rgb(217, 191, 149);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
}

#navbar a {
    color: yellow;
}
#navbar a:focus {
    color: rgb(255, 120, 0);
}

#navbar a:hover {
    color: rgb(255, 160, 0);
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
}

.error_msg {
    position: relative;
    height: auto;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(255, 174, 0);
    font-style: italic;
    font-size: 18px;
    margin: 10px 0 0 0;
}

/* REGISTER PAGE */
#register-container {
    background-image: linear-gradient(
            rgba(2, 3, 8, 1) 1%,
            rgba(2, 3, 8, 0.3) 10%,
            rgb(2, 3, 8, 0)
        ),
        url(../darkbluegalaxy.jpg);
    background-color: rgb(9, 5, 46);
}

#h1register {
    color: rgb(213, 220, 242);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
}
#h2register {
    color: rgb(213, 220, 242);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
}
#h2register a {
    color: yellow;
}
#h2register a:focus {
    color: rgb(255, 120, 0);
}

#h2register a:hover {
    color: rgb(255, 160, 0);
}

#regblock {
    color: rgb(213, 220, 242);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    font-size: 20px;
    margin: 10px 40px 0 40px;
}

#rega {
    color: yellow;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
}

.hidden {
    display: none;
}

input {
    width: 300px;
    height: 40px;
    background-color: rgb(213, 220, 242);
    border: rgb(51, 35, 113) solid 2px;
    margin: 5px 0;
    padding: 0 0 0 5px;
    font-size: 30px;
    color: rgb(27, 40, 49);
}
input:focus {
    background-color: rgb(198, 197, 245);
    border: rgb(51, 35, 113) solid 2px;
    outline: none;
}

#regNow {
    width: 309px;
    height: 50px;
    background-color: rgb(221, 176, 204);
    border: rgb(51, 35, 113) solid 2px;
    border-radius: 5px;
    margin: 5px 0 0 0;
    padding: 0 0 0 5px;
    font-size: 30px;
    color: rgb(9, 5, 46);
}

#regNow:focus {
    outline: lightskyblue;
    background-color: rgb(198, 197, 245);
}

#registerquote {
    color: rgb(213, 220, 242);
    opacity: 75%;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    margin: 5px 5px;
}

#registerfoot {
    color: lightblue;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* LOGIN PAGE */
#login-container {
    background-image: linear-gradient(
            rgba(2, 3, 8, 1) 1%,
            rgba(2, 3, 8, 0.3) 15%,
            rgb(2, 3, 8, 0)
        ),
        url(../orangegalaxy.jpg);
    background-color: rgb(135, 42, 33);
}

#h1login {
    color: rgb(254, 251, 133);
    text-shadow: 1px 1px 1px rgb(141, 37, 38);
    text-align: center;
}
#h2login {
    color: rgb(254, 251, 133);
    text-shadow: 1px 1px 1px rgb(141, 37, 38);
    text-align: center;
}
#plogin {
    color: rgb(254, 251, 133);
    text-shadow: 1px 1px 1px rgb(141, 37, 38);
    text-align: center;
}

#logina {
    color: lightblue;
    text-shadow: 1px 1px 1px rgb(141, 37, 38);
}

#loginNow {
    width: 309px;
    height: 50px;
    background-color: rgb(254, 186, 83);
    border: rgb(166, 59, 41) solid 2px;
    border-radius: 5px;
    margin: 5px 0 0 0;
    font-size: 30px;
    color: rgb(166, 59, 41);
}

#loginNow:focus {
    outline: lightskyblue;
    background-color: rgb(230, 163, 64);
}

#loginquote {
    color: rgb(254, 251, 133);
    opacity: 75%;
    text-shadow: 1px 1px 1px rgb(16, 4, 4);
    text-align: center;
    margin: 5px 5px;
}

#loginfoot {
    color: rgb(254, 251, 133);
    text-shadow: 1px 1px 1px rgb(16, 4, 4);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* PROFILE PAGE */
#profile-container {
    background-image: linear-gradient(
            rgba(2, 3, 8, 1) 1%,
            rgba(2, 3, 8, 0.3) 15%,
            rgb(2, 3, 8, 0)
        ),
        url(../greenjar.jpg);
    background-color: rgb(1, 58, 72);
}

#h1profile {
    color: rgb(159, 183, 191);
    text-shadow: 1px 1px 1px rgb(1, 58, 72);
    text-align: center;
}
#h2profile {
    color: rgb(159, 183, 191);
    text-shadow: 1px 1px 1px rgb(1, 58, 72);
    text-align: center;
}

#profa {
    color: rgb(220, 130, 115);
    text-shadow: 1px 1px 1px rgb(1, 58, 72);
}

#profNow {
    width: 300px;
    height: 50px;
    background-color: rgb(159, 183, 191);
    border: rgb(1, 58, 72) solid 2px;
    border-radius: 5px;
    margin: 5px 0 0 0;
    font-size: 30px;
    color: rgb(1, 58, 72);
}

#profNow:focus {
    outline: lightskyblue;
    background-color: rgb(137, 164, 173);
}

#profilequote {
    color: rgb(159, 183, 191);
    opacity: 75%;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    margin: 5px 5px;
}

#profilefoot {
    color: rgb(159, 183, 191);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/*EDIT PROFILE*/
#editcontainer {
    background-image: linear-gradient(
            rgba(2, 3, 8, 1) 1%,
            rgba(2, 3, 8, 0.3) 15%,
            rgb(2, 3, 8, 0)
        ),
        url(../greenjar.jpg);
    background-color: rgb(1, 58, 72);
}

#h1edit {
    color: rgb(159, 183, 191);
    text-shadow: 1px 1px 1px rgb(1, 58, 72);
    text-align: center;
}
#h2edit {
    color: rgb(159, 183, 191);
    text-shadow: 1px 1px 1px rgb(1, 58, 72);
    text-align: center;
}

#editNow {
    width: 309px;
    height: 50px;
    background-color: rgb(159, 183, 191);
    border: rgb(1, 58, 72) solid 2px;
    border-radius: 5px;
    margin: 5px 0 0 0;
    font-size: 30px;
    color: rgb(1, 58, 72);
}

#editNow:focus {
    outline: lightskyblue;
    background-color: rgb(137, 164, 173);
}

#editquote {
    color: rgb(175, 195, 202);
    opacity: 90%;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    margin: 5px 5px;
}

#editfoot {
    color: rgb(159, 183, 191);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* SIGN PAGE */
#sign-container {
    background-image: linear-gradient(
            rgba(2, 3, 8, 1) 1%,
            rgba(2, 3, 8, 0.3) 15%,
            rgb(2, 3, 8, 0)
        ),
        url(../darkgalaxy.jpg);
    background-color: rgb(9, 5, 46);
}

#h1sign {
    color: rgb(217, 191, 149);
    text-shadow: 1px 1px 1px rgb(3, 3, 3);
    text-align: center;
}

#signquote {
    color: rgb(207, 175, 137);
    opacity: 90%;
    text-shadow: 1px 1px 1px rgb(3, 3, 3);
    text-align: center;
    margin: 80px 5px 10px 5px;
}

#delSig {
    width: 300px;
    height: auto;
    background-color: rgb(156, 217, 230);
    border: rgb(53, 59, 91) solid 2px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    color: rgb(9, 5, 46);
}

#delSig:focus {
    outline: lightskyblue;
    background-color: rgb(131, 196, 211);
}

.hidden {
    display: none;
}

#sign_form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#plssgn {
    color: rgb(217, 191, 149);
    text-shadow: 1px 1px 1px rgb(3, 3, 3);
    font-size: 25px;

    font-style: italic;
    font-weight: bold;
}

#canvas {
    width: 100%;
    height: 150px;
    border: rgb(23, 22, 38) solid 2px;
    background-color: rgb(222, 215, 224);
    margin: 5px 0 0 0;
}

#signNow {
    width: 101%;
    height: 50px;
    background-color: rgb(197, 191, 199);
    border: rgb(23, 22, 38) solid 2px;
    margin: 5px 0 0 0;
    font-size: 30px;
    color: rgb(23, 22, 38);
}

#signNow:focus {
    outline: lightskyblue;
    background-color: rgb(173, 166, 175);
}

#signfoot {
    color: rgb(217, 191, 149);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* THANK YOU PAGE */
#thankyou-container {
    background-image: linear-gradient(
            rgba(2, 3, 8, 1) 1%,
            rgba(2, 3, 8, 0.3) 15%,
            rgb(2, 3, 8, 0)
        ),
        url(../greenaurora.jpg);
    background-color: rgb(40, 101, 103);
}

#h1thankyou {
    color: rgb(172, 224, 241);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    margin: 0 30px;
}

#tyquote {
    color: rgb(172, 224, 241);
    opacity: 75%;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    margin: 5px 0;
}

#h2thankyou {
    color: rgb(172, 224, 241);
    text-align: center;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    margin: 30px 30px;
}

a {
    text-decoration: none;
}

a:hover #h2thankyou {
    opacity: 90%;
    color: rgb(198, 197, 245);
}

#thankyoufoot {
    color: paleturquoise;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* signatories page */
#signatories-container {
    background-image: linear-gradient(
            rgba(2, 3, 8, 1) 1%,
            rgba(2, 3, 8, 0.3) 15%,
            rgb(2, 3, 8, 0)
        ),
        url(../pinkstarrysky.jpg);
    background-color: rgb(73, 51, 75);
}

#h1signatories {
    color: rgb(245, 211, 232);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
}

#sigquote {
    color: rgb(245, 211, 232);
    opacity: 75%;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    margin: 5px 0;
}

#signatories-list {
    margin: 20px 0;
    color: rgb(33, 20, 39);
    background-color: rgb(245, 211, 232);
    border: 5px solid rgb(134, 98, 125);
    border-radius: 5px;
    padding: 5px 0;
    width: 300px;
    min-height: 50px;
    max-height: fit-content;
    font-size: 20px;
    text-align: center;
}

#signatoriesfoot {
    color: rgb(250, 207, 213);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* SIGCITY PAGE */

#sigcity-container {
    background-image: linear-gradient(
            rgba(2, 3, 8, 1) 1%,
            rgba(2, 3, 8, 0.3) 15%,
            rgb(2, 3, 8, 0)
        ),
        url(../pinkstarrysky.jpg);
    background-color: rgb(73, 51, 75);
}

#h1sigcity {
    color: rgb(245, 211, 232);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
}

#sigcityquote {
    color: rgb(245, 211, 232);
    opacity: 75%;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    margin: 5px 0;
}

#sigcity-list {
    margin: 20px 0;
    color: rgb(33, 20, 39);
    background-color: rgb(245, 211, 232);
    border: 5px solid rgb(134, 98, 125);
    border-radius: 5px;
    padding: 5px 0;
    width: 300px;
    min-height: 50px;
    max-height: fit-content;
    font-size: 20px;
    text-align: center;
}

#sigcityfoot {
    color: rgb(250, 207, 213);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*LOGOUT PAGE*/
#logoutcontainer {
    background-image: linear-gradient(
            rgba(2, 3, 8, 1) 1%,
            rgba(2, 3, 8, 0.3) 15%,
            rgb(2, 3, 8, 0)
        ),
        url(../pinkstarrysky.jpg);
    background-color: rgb(73, 51, 75);
}

#logoutquote {
    font-size: 30px;
    color: rgb(245, 211, 232);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    padding: 20px;
}

#logoutfoot {
    color: rgb(250, 207, 213);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
