* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}

/* REGISTER PAGE */
#register-container {
    min-height: 100vh;
    background-image: url(../darkbluegalaxy.jpg);
    background-color: rgb(9, 5, 46);
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.error_msg {
    position: relative;
    height: auto;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    font-style: italic;
    font-size: 20px;
    margin: 10px 0 0 0;
}

#h1register {
    color: rgb(213, 220, 242);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
}
#h2register {
    color: rgb(213, 220, 242);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
}

#pregister {
    color: rgb(213, 220, 242);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
}

#rega {
    color: yellow;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
}

.hidden {
    display: none;
}

input {
    width: 300px;
    height: 50px;
    background-color: rgb(213, 220, 242);
    border: rgb(51, 35, 113) solid 2px;
    margin: 5px 0;
    font-size: 30px;
    color: rgb(27, 40, 49);
}
input:focus {
    background-color: rgb(198, 197, 245);
    border: rgb(51, 35, 113) solid 2px;
    outline: none;
}

#regNow {
    width: 300px;
    height: 50px;
    background-color: rgb(221, 176, 204);
    border: rgb(51, 35, 113) solid 2px;
    margin: 5px 0 0 0;
    font-size: 30px;
    color: rgb(9, 5, 46);
}

#regNow:focus {
    outline: lightskyblue;
    background-color: rgb(198, 197, 245);
}

#registerquote {
    color: rgb(213, 220, 242);
    opacity: 75%;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    margin: 5px 5px;
}

#registerfoot {
    color: lightblue;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* LOGIN PAGE */
#login-container {
    min-height: 100vh;
    background-image: url(../orangegalaxy.jpg);
    background-color: rgb(135, 42, 33);
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.error_msg {
    position: relative;
    height: auto;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(141, 37, 38);
    font-style: italic;
    font-size: 25px;
    margin: 10px 0 0 0;
}

#h1login {
    color: rgb(254, 251, 133);
    text-shadow: 1px 1px 1px rgb(141, 37, 38);
    text-align: center;
}
#h2login {
    color: rgb(254, 251, 133);
    text-shadow: 1px 1px 1px rgb(141, 37, 38);
    text-align: center;
}
#plogin {
    color: rgb(254, 251, 133);
    text-shadow: 1px 1px 1px rgb(141, 37, 38);
    text-align: center;
}

#logina {
    color: lightblue;
    text-shadow: 1px 1px 1px rgb(141, 37, 38);
}

/* ==== NOTE: add classes to inputs to differentiate styling from register page === */
input {
    width: 300px;
    height: 50px;
    background-color: rgb(213, 220, 242);
    border: rgb(141, 37, 38) solid 2px;
    margin: 5px 0;
    font-size: 30px;
    color: rgb(141, 37, 38);
}
input:focus {
    background-color: rgb(198, 197, 245);
    border: rgb(141, 37, 38) solid 2px;
    outline: none;
}

#loginNow {
    width: 300px;
    height: 50px;
    background-color: rgb(254, 186, 83);
    border: rgb(166, 59, 41) solid 2px;
    margin: 5px 0 0 0;
    font-size: 30px;
    color: rgb(166, 59, 41);
}

#loginNow:focus {
    outline: lightskyblue;
    background-color: rgb(230, 163, 64);
}

#loginquote {
    color: rgb(254, 251, 133);
    opacity: 75%;
    text-shadow: 1px 1px 1px rgb(16, 4, 4);
    text-align: center;
    margin: 5px 5px;
}

#loginfoot {
    color: rgb(254, 251, 133);
    text-shadow: 1px 1px 1px rgb(16, 4, 4);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* PROFILE PAGE */
#profile-container {
    min-height: 100vh;
    background-image: url(../greenjar.jpg);
    background-color: rgb(1, 58, 72);
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.error_msg {
    position: relative;
    height: auto;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(1, 58, 72);
    font-style: italic;
    font-size: 20px;
    margin: 10px 0 0 0;
}

#h1profile {
    color: rgb(159, 183, 191);
    text-shadow: 1px 1px 1px rgb(1, 58, 72);
    text-align: center;
}
#h2profile {
    color: rgb(159, 183, 191);
    text-shadow: 1px 1px 1px rgb(1, 58, 72);
    text-align: center;
}

#profa {
    color: rgb(220, 130, 115);
    text-shadow: 1px 1px 1px rgb(1, 58, 72);
}

.hidden {
    display: none;
}

input {
    width: 300px;
    height: 50px;
    background-color: rgb(213, 220, 242);
    border: rgb(51, 35, 113) solid 2px;
    margin: 5px 0;
    font-size: 30px;
    color: rgb(27, 40, 49);
}
input:focus {
    background-color: rgb(198, 197, 245);
    border: rgb(51, 35, 113) solid 2px;
    outline: none;
}

#profNow {
    width: 300px;
    height: 50px;
    background-color: rgb(159, 183, 191);
    border: rgb(1, 58, 72) solid 2px;
    margin: 5px 0 0 0;
    font-size: 30px;
    color: rgb(1, 58, 72);
}

#profNow:focus {
    outline: lightskyblue;
    background-color: rgb(137, 164, 173);
}

#profilequote {
    color: rgb(159, 183, 191);
    opacity: 75%;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    margin: 5px 5px;
}

#profilefoot {
    color: rgb(159, 183, 191);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/* SIGN PAGE */
#sign-container {
    min-height: 100vh;
    background-image: url(../darkgalaxy.jpg);
    background-color: rgb(9, 5, 46);
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#h1sign {
    color: rgb(217, 191, 149);
    text-shadow: 1px 1px 1px rgb(3, 3, 3);
    text-align: center;
}

.error_msg {
    position: relative;
    height: auto;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    font-style: italic;
    font-size: 25px;
    margin: 10px 0 0 0;
}

#signquote {
    color: rgb(207, 175, 137);
    opacity: 90%;
    text-shadow: 1px 1px 1px rgb(3, 3, 3);
    text-align: center;
    margin: 80px 5px 10px 5px;
}

.hidden {
    display: none;
}

#sign_form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

#plssgn {
    color: rgb(217, 191, 149);
    text-shadow: 1px 1px 1px rgb(3, 3, 3);
    font-size: 25px;
    margin: 0 0 0 5px;
    font-style: italic;
    font-weight: bold;
}

#canvas {
    width: 100%;
    height: 150px;
    border: rgb(23, 22, 38) solid 2px;
    background-color: rgb(222, 215, 224);
    margin: 5px 0 0 0;
}

#signNow {
    width: 100%;
    height: 50px;
    background-color: rgb(197, 191, 199);
    border: rgb(23, 22, 38) solid 2px;
    margin: 5px 0 0 0;
    font-size: 30px;
    color: rgb(23, 22, 38);
}

#signNow:focus {
    outline: lightskyblue;
    background-color: rgb(173, 166, 175);
}

#signfoot {
    color: rgb(217, 191, 149);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* THANK YOU PAGE */
#thankyou-container {
    min-height: 100vh;
    background-image: url(../greenaurora.jpg);
    background-color: rgb(40, 101, 103);
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#h1thankyou {
    color: rgb(164, 217, 231);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    margin: 0 30px;
}

#tyquote {
    color: rgb(164, 217, 231);
    opacity: 75%;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    margin: 5px 0;
}

#h2thankyou {
    color: rgb(165, 215, 231);
    text-align: center;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    margin: 30px 30px;
}

a {
    text-decoration: none;
}

a:hover #h2thankyou {
    opacity: 90%;
    color: rgb(198, 197, 245);
}

#thankyoufoot {
    color: paleturquoise;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* signatories page */
#signatories-container {
    min-height: 100vh;
    background-image: url(../pinkstarrysky.jpg);
    background-color: rgb(73, 51, 75);
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#h1signatories {
    color: rgb(245, 211, 232);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
}

#sigquote {
    color: rgb(245, 211, 232);
    opacity: 75%;
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    text-align: center;
    margin: 5px 0;
}

#signatories-list {
    margin: 20px 0;
    color: rgb(33, 20, 39);
    background-color: rgb(245, 211, 232);
    border: 5px solid rgb(134, 98, 125);
    width: 300px;
    min-height: 50px;
    max-height: fit-content;
    font-size: 20px;
    text-align: center;
}

#signatoriesfoot {
    color: rgb(250, 207, 213);
    text-shadow: 1px 1px 1px rgb(27, 40, 49);
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
